<style>
.is-selected{
    background-color: lightblue !important;
}
.original{
    background-color: gray !important;
}
.dragged-over{
    background-color: white;

}
</style>
<h1>
 here  {{title}}
</h1>
<div>{{listsData | json}}</div>
<div class="list-container" *ngFor="let lists of listsData; let i = index">
    <div id="{{lists.listUid}}">
    <h1>{{lists.header}}</h1>
    <ul>
        <li   [ngClass]="{'is-selected': listsData[i].listItems[j].selected, 'dragged-over': isbeingDrugOver}"  *ngFor="let listItem of lists.listItems; let j = index" id="{{listItem.uid}}"  csDragger>
          {{listItem.viewText}}

          <list-item (listItemLocation)="listItemLocation(listItem, $event)" id="{{i}}_{{j}}"></list-item>
      </li>
    </ul>
    </div>
</div>




