
<h1>
 here  {{title}}
</h1>
<list-controls (refreshallassigments)="refreshAllAssignments($event)" (addlist)="addList($event)"></list-controls>
<div>
<div>{{listsData | json}}</div>
<div>item isvalid: {{isValidDrop}}</div>
<div>list isvalid: {{canDropToList}}</div>
<div class="noselect list-container"  *ngFor="let lists of listsData; let i = index">
    <div id="{{lists.listUid}}">
        <div>
            <h1 id="{{i}}_list" csDragger csSelected ListDropper (listDropperIsDragged)="setCanDropToList($event)" >{{lists.header}}</h1>
        </div>
    <ul>
        <cs-item (dropSpotValid)="setIsValidDrop($event)" (selectionToggle)="selectionMade($event)" [selected]="listItem.selected"  [viewText]="listItem.viewText"[uid]="lists.listUid" [index]="j" *ngFor="let listItem of lists.listItems; let j = index"></cs-item>
    </ul>
 </div> 
</div>
</div>
<p>material list below</p>
<cs-material-list><cs-material-list>
